<ngb-carousel>
    <ng-container *ngFor="let sugg of suggestions; let i = index">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="sugg.book.imageUrl === '' ? '../../assets/default.jpg' : sugg.book.imageUrl"
                     width="100%" height="300px"
                     style="border-radius: 5px">
            </div>
            <div class="carousel-caption">
                <h5 style="background-color: black; opacity: 0.5; padding: 5px; border-radius: 5px">
                    <a class="text-default" style="text-decoration: none; color: inherit"
                       [routerLink]="['/search/book']"
                       [queryParams]="{ fileName: sugg.book.fileName, pattern: pattern}">
                    {{getTitle(i)}}</a>
                </h5>
            </div>
        </ng-template>
    </ng-container>
</ngb-carousel>
