<div class="container-fluid">
    <div *ngIf="book?.content.length === 0"
         class="mt-2">
        <p class="p-2"><ngb-progressbar type="success" textType="white" [value]="progress" [showValue]="true"></ngb-progressbar></p>
        <p class="text-primary ml-3" style="text-align: center"> Coloration en cours ...</p>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div *ngIf="progress === 100" class="col-lg-6 mt-5">
            <p *ngFor="let line of book?.content"
               style="text-align: justify"
               [innerHTML]="line">
            </p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

