<div class="container"
     [ngClass]="styles">
  <form>
    <div class="input-group">
      <input [(ngModel)] = "pattern"
             type="text"
             class="form-control"
             name="recherche"
             placeholder="recherche ...">
      <div class="input-group-append">
        <button type="submit"
                class="btn btn-outline-secondary"
                [routerLink]="['/search']" [queryParams]="{ pattern: pattern }">
          Rechercher
        </button>
      </div>
    </div>
  </form>
</div>
