<div class="container p-5"
     [ngClass]="styles"
     style="border: 1px solid #e1e1e1; border-radius: 5px">
    <ng-template #popContent>

        <section style="font-size: 10px">
            <h5 style="margin-bottom: 10px">Le mode de recherche</h5>
            <mat-radio-group [(ngModel)]="fast">
                <mat-radio-button style="margin-right: 5px" value="false">Basique</mat-radio-button>
                <mat-radio-button style="margin-right: 5px" value="true">Rapide</mat-radio-button>
            </mat-radio-group>
        </section>

        <section style="font-size: 10px; margin-top: 20px">
            <h5 style="margin-bottom: 10px">Source</h5>
            <mat-radio-group [(ngModel)]="searchSource" [disabled]="fast === 'false'">
                <mat-radio-button style="margin-right: 5px" value="db">Base de données</mat-radio-button>
                <mat-radio-button style="margin-right: 5px" value="index">Index</mat-radio-button>
            </mat-radio-group>
        </section>
        <section style="margin-top: 20px; font-size: 10px">
            <h5 style="margin-bottom: 10px">Classification</h5>
            <mat-radio-group [(ngModel)]="classification">
                <mat-radio-button style="display: block" value="btw">Betweeness</mat-radio-button>
                <mat-radio-button style="display: block" value="pgr">Page-rank</mat-radio-button>
                <mat-radio-button style="display: block" value="nbOccurs">Nombre de mots trouvés
                </mat-radio-button>
                <mat-radio-button style="display: block" value="nbClick">Livre le plus consulté
                </mat-radio-button>
            </mat-radio-group>
        </section>

    </ng-template>

    <div class="row">
        <div style="width: 100%">
            <a href="#" class="blockquote-footer mb-4"
               style="width: fit-content"
               [ngbPopover]="popContent"
               [autoClose]="'outside'"
               [popoverClass]="'p-3'"
               [container]="'body'"
               placement="bottom"
               (click)="$event.preventDefault();">
                Configurer la recherche <i class="fa fa-cog"></i>
            </a>
            <form class="mb-3">
                <div class="input-group">
                    <input [(ngModel)]="pattern"
                           [matAutocomplete]="auto"
                           [disabled]="advencedSearch"
                           matInput
                           type="text"
                           class="form-control"
                           name="recherche"
                           placeholder="recherche ..."
                           style="border-radius: 0px">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of (options$ | async | searchFilter:pattern | regExFilter:false)"
                                    [value]="option">{{option}}</mat-option>
                    </mat-autocomplete>
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary"
                                style="border-radius: 0px"
                                [routerLink]="['/search']"
                                [queryParams]="{ pattern: pattern, fast: fast, searchSource: searchSource, classification: classification }">
                            Rechercher
                        </button>
                    </div>
                </div>
            </form>

            <a class="blockquote-footer" href=""
               (click)="$event.preventDefault();advencedSearch = !advencedSearch"
               style="width: fit-content">
                Recherche avancée
                <i class="fa" [ngClass]="{'fa-minus': advencedSearch, 'fa-plus': !advencedSearch}"></i>
            </a>

            <div *ngIf="advencedSearch">
                <form>
                    <div class="input-group mt-3">
                        <input [(ngModel)]="advencedInput"
                               [matAutocomplete]="auto2"
                               [disabled]="advancedMode !== ''"
                               matInput
                               class="form-control"
                               style="border-radius: 0px"
                               name="rechercheAvancee"
                               placeholder="Entrez une expression reguliere">
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let option of (options$ | async | searchFilter:advencedInput | regExFilter:true)"
                                        [value]="option">{{option}}</mat-option>
                        </mat-autocomplete>
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-outline-secondary"
                                    style="border-radius: 0px"
                                    [routerLink]="['/search']"
                                    [queryParams]="{ pattern: advencedInput, advenced: true, fast: fast, searchSource: searchSource, classification: classification }">
                                Rechercher
                            </button>
                        </div>
                    </div>
                </form>

                <div>
                    <section style="margin-top: 20px;">
                        <span class="blockquote-footer" style="margin-bottom: 10px">Rechercher avec</span>
                        <mat-radio-group [(ngModel)]="advancedMode">
                            <mat-radio-button
                                    style="display: block; width: fit-content; font-size: 11px; margin-bottom: 10px"
                                    value="title">
                                Le titre du livre
                            </mat-radio-button>
                            <mat-radio-button style="display: block; width: fit-content; font-size: 11px; margin-bottom: 10px"
                                              value="author">
                                L'auteur du livre
                            </mat-radio-button>
                            <mat-radio-button
                                    style="display: block; width: fit-content; font-size: 11px"
                                    value="">
                                Aucun des deux
                            </mat-radio-button>
                        </mat-radio-group>
                    </section>
                </div>
                <form>
                    <div class="input-group mt-3">
                        <input [(ngModel)]="advencedInputMetadata"
                               [disabled]="advancedMode === ''"
                               class="form-control"
                               style="border-radius: 0px"
                               name="rechercheAvancee"
                               placeholder="Titre/Auteur">
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-outline-secondary"
                                    style="border-radius: 0px"
                                    [routerLink]="['/search']"
                                    [queryParams]="{ pattern: advencedInputMetadata, advenced: true, metadata: advancedMode, classification: classification }">
                                Rechercher
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
